.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.name,
.button {
  margin: 10px;
}

.textBox {
  margin: 10px;
}

.email,
.password {
  margin: 10px;
}

.error {
  color: red;
}
